// /**
//  ** 使用範例: @include fontSizeBatch (尺寸數值, 間隔數值, 斷點名稱)
//  ** @param {Value} $breakpointName 斷點名稱，如果沒有帶入字串透過 @if 處理成空字串，空字串為全域斷點用。
//  ** @param {Number} $checkSize check 大小。
//  ** @param {Number} $checkSpacing check 間隔。
// * */

@mixin checkUI ($checkSize: 1, $checkSpacing: 1.2, $breakpointName: null) {

  // $checkSize: 0.8; //預設是以 rem 為單位
  // $checkSpacing: $checkSize / 0.85; // 間距可由分母控制，分母值超小遠，運算後值越小越遠。

  @if ($breakpointName == null) {
    $breakpointName: '' !default;
  }
  @else {
    $breakpointName: -#{$breakpointName};
  }
  
  .c-form-check#{$breakpointName: !default}--normal {
    // min-height: $checkSize+rem;
    & > input {
      &:first-child {
        &:checked {
          width: ($checkSize/3.2) + rem;
          height: ($checkSize/2.2) + rem;
          & + label {
            &::after {
              width: ($checkSize/3.2) + rem;
              height: ($checkSize/2.2) + rem;
              transform: translate(($checkSize/3)+rem, ($checkSize/4)+rem) rotate(45deg);
            }
            &::before {
              width: $checkSize+rem;
              height: $checkSize+rem;
              margin-left: -(($checkSpacing)+rem);
            }
          }
        }
      }
    }
    & > label {
      padding-left: (($checkSpacing)+rem);
      min-height: $checkSize+rem;
      line-height: $checkSize+rem;
      &::before {
        width: $checkSize+rem;
        height: $checkSize+rem;
        margin-left: -(($checkSpacing)+rem);
      }
    }
  }
}