// 使用範例: @include columnBatch ($grid-num-large, lg)
// /**
//   * @param {Value} $grid-maxNum - 前綴與 column 樣式名稱字串，預設為 .col
//   * @param {Number} $grid-maxNum - 欄位最大數量
//   * @param {string}  $breakpointName - 斷點名稱
// * */
@mixin columnBatch ($classPrefixName: null, $grid-maxNum: 2, $breakpointName: string) {

  @if( $classPrefixName == null ){
    $classPrefixName: #{col};
  }
  
  // /**
  // * * 樣式名稱使用 # {} (字符組要相近)
  // * * $i 分母 1-5
  // * * $j 分子 1-12
  // * * @if ( $i >= $j ) 判斷分子不大於分母
  // */
  @for $i from 1 through $grid-maxNum {
    @for $j from 1 through $grid-maxNum{
      @if ( $i >= $j ){
        .#{$classPrefixName}#{$breakpointName: !default}--#{$i}-#{$j}{
          flex: 0 0  (100% * ( $j / $i));
          max-width: (100% * ( $j / $i));
        } 
      }
    }
  }
}