
/*----------  reboot  ----------*/
*, 
*::before, 
*::after {
	box-sizing: border-box;
}
html{
	font-size: $font-size-base;
}
body{
	// font-family: '微軟正黑體', 'Microsoft JhengHei', Tahoma, verdana, STHeiti, serif, sans-serif;
	font-family: 
		PingFang TC
		,
		BlinkMacSystemFont
		, 
		"Segoe UI"
		, 
		'微軟正黑體', "Microsoft JhengHei"
		, 
		Roboto
		, 
		"Helvetica Neue", 
		Arial
		, 
		sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	// font-weight: 300;
	background-color: $bodyBgColor;
	color: $bodyTextColor;
}
img{ 
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
// textarea, label, input{
// 	width: 100%;
// 	display: block;
// }
// input, textarea, button{
// 	border-width: 0;
// }
// label{
// 	margin-bottom: 5px;
// }
// input{
// 	padding: 6px 10px;
// 	color: $blackColor;
// 	font-size: 15px;
// }
// textarea{
// 	padding: 8px 10px;
// 	color: $blackColor;
// 	font-size: 15px;
// }
a{
	text-decoration: none;
}
/*----------  reboot  ----------*/