/*----------  fontSize  ----------*/
// 72px, 64px, 48px, 36px, 20px, 16px(基本), 14px,
// rem 計算公式 px / ( htmlRoot px = 1em )  = rem
.fontSize--s{
  font-size: 0.875rem;
}
.fontSize--base{
  font-size: 1rem;
}
.fontSize--m{
  font-size: 1.25rem;
}
.fontSize--l{
  font-size: 2.25rem;
}
.fontSize--xl{
  font-size: 3rem;
}
.fontSize--2xl{
  font-size: 4rem;
}
.fontSize--3xl{
  font-size: 4.5rem;
}
/*----------  fontSize  ----------*/
/*----------  字重/字租  ----------*/
.fontWeight--bold{
  font-weight: bold;
}
.fontWeight--500{
  font-weight: 500;
}
.fontWeight--400{
  font-weight: 400;
}
.fontWeight--300{
  font-weight: 300;
}
/*----------  字重/字租  ----------*/