
/*----------  index  ----------*/
.p-index-h2{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.0625rem;
  @include medium {
    font-size: 2rem;
    line-height: 2.8125rem;
  }
  @include large {
    font-size: 3rem;
    line-height: 4.1875rem;
  }
}

.p-index-vision{
  &--bg{
    background-size: auto 100%;
    background-image: url('././../img/p-index--vision.png');
    @include retina('././../img/p-index--vision.png', 2, cover, no-repeat center right 50%);
  }
  &__inner{
    display: flex;
    // flex 寫法一
    justify-content: flex-end;
    align-items: center;
    // /flex 寫法一
    // flex 寫法二
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-end;
    // /flex 寫法二
    min-height: 394px;
    @include medium{
      min-height: 840px;
    }
    // @include large{
    //   min-height: 840px;
    // }
  }
  &__title{
    text-align: right;
    // font-size: 1rem;
    line-height: 1.375rem;
    &__sub{
      display: block;
      @include medium{
        font-size: 1.25rem;
        line-height: 1.75rem;
      }
      @include large{
        font-size: 2.25rem;
        line-height: 3.125rem;
      }
    }
    &__main{
      display: block;
      font-size: 2rem;
      line-height: 2.8125rem;
      @include medium{
        font-size: 2.5rem;
        line-height: 4.1875rem;
      }
      @include large{
        font-size: 4rem;
        line-height: 5.625rem;
      }
    }
  }
}

.p-staggerList {
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    @include large-below {
      margin-bottom: 8px;
    }
    @include large {
      margin-bottom: 32px;
      &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;
      }
    }
    &__cover {
    }
    &__content {
      @include medium-below {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0px;
        right: 0px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include large-below {
        text-align: center;
      }
      &__title {
        text-transform: uppercase;
        font-style: italic;
        font-size: 28px;
        @include medium-below {
          line-height: 33px;
          color: $white;
        }
        @include medium {
          color: $primaryColor;
        }
        @include large {
          font-size: 48px;
        }
      }
    }
  }
  &Icon {
    background-position: center center;
    background-size: cover;
    margin-right: 8px;
    display: inline-block;
    &--diamond {
      @include medium-below {
        background-image: url("../img/icon--diamond-white.svg");
      }
      @include medium {
        background-image: url("../img/icon--diamond-primary.svg");
      }
      @include large-below {
        width: 32px;
        height: 25px;
      }
      @include large {
        width: 48px;
        height: 38px;
      }
    }
    &--sun {
      @include medium-below {
        background-image: url("../img/icon--sun-white.svg");
      }
      @include medium {
        background-image: url("../img/icon--sun-primary.svg");
      }
      @include large-below {
        width: 32px;
        height: 32px;
      }
      @include large {
        width: 48px;
        height: 48px;
      }
    }
    &--lightning {
      @include medium-below {
        background-image: url("../img/icon--lightning-white.svg");
      }
      @include medium {
        background-image: url("../img/icon--lightning-primary.svg");
      }
      @include large-below {
        width: 23px;
        height: 32px;
      }
      @include large {
        width: 35px;
        height: 48px;
      }
    }
  }
}






/*----------  /index  ----------*/