/*----------  other pages  ----------*/
// 頁面共用
.p-banner {
  position: relative;
  background-color: $primaryLightColor;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  background-position: right 25% bottom 30%;
  @include medium-below {
    background-image: url('././../img/p-bannerBg-sm.png');
    height: 143px;
  }
  @include medium {
    background-image: url('././../img/p-bannerBg-md.png');
    height: 304px;
  }
  @include large {
    background-image: url('././../img/p-bannerBg-lg.png');
    background-position: right 30% bottom;
  }
}
.p-bannerTitle {
  position: absolute;
  bottom: 0;
  &__string {
    vertical-align: middle;
    @include medium-below {
      margin-right: 8px;
    }
    @include medium {
      margin-right: 16px;
    }
    @include large {
      margin-right: 10px;
    }
  }
  &__icon {
    vertical-align: middle;
    @include medium-below {
      width: 24px;
    }
    @include medium {
      width: 48px;
    }
    @include large {
      width: 58px;
    }
  }
}
// /頁面共用
// 頁面特有
.p-qaContent {
  @include medium-below {
    padding-top: 24px;
    padding-bottom: 56px;
  }
  @include medium {
    padding-top: 40px;
    padding-bottom: 104px;
  }
  @include large {  
    padding-top: 88px;
    padding-bottom: 156px;
  }
}
// /頁面特有
/*----------  /other pages  ----------*/