//- index.jade
extends extends/_layoutTemplate.jade

block pageInner
  header.l-container--full.p-index-vision.p-index-vision--bg
    article.l-container.p-index-vision__inner
      .l-row
        .l-col
          h1.u-text--primaryDark.p-index-vision__title
            span.p-index-vision__title__sub Promise-Desert 2020 早春系列
            span.p-index-vision__title__main 看得清，才能看得遠
  main
    // 用專業的心，做專業的事
    section.l-container--full.u-bg--primaryLight
      article.l-container.u-pt--8.u-pb--12.u-pt-md--7.u-pt-lg--16.u-pb-lg--20
        h2.u-text--primaryDark.u-textAlign--center.u-mb--3.u-mb-lg--11.p-index-h2 用專業的心，做專業的事
        ul.l-row.c-iconCards
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--4-1.c-iconCards__item
            .c-iconCards__item__inner
              .c-iconCards__icon
                img.c-iconCards__icon__img(src='assets/img/icon--clock.svg', alt='時間圖示')
              h3.c-iconCards__item__title 20 分鐘即可取件
              p.c-iconCards__item__content 為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--4-1.c-iconCards__item
            .c-iconCards__item__inner
              .c-iconCards__icon
                img.c-iconCards__icon__img(src='assets/img/icon--heart.svg', alt='心形圖示')
              h3.c-iconCards__item__title 安心售後服務
              p.c-iconCards__item__content 我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--4-1.c-iconCards__item.u-order-lg--first
            .c-iconCards__item__inner
              .c-iconCards__icon
                img.c-iconCards__icon__img(src='assets/img/icon--circleDollar.svg', alt='價格圖示')
              h3.c-iconCards__item__title 單一價格
              p.c-iconCards__item__content 無論任何度數皆 不需追加費用即可擁有適合自己的薄型球面鏡片。
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--4-1.c-iconCards__item
            .c-iconCards__item__inner
              .c-iconCards__icon
                img.c-iconCards__icon__img(src='assets/img/icon--glasses.svg', alt='眼鏡圖示')
              h3.c-iconCards__item__title 關於鏡片
              p.c-iconCards__item__content 使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。
    // /用專業的心，做專業的事
    
    // 經典系列鏡框
    section.l-container--full.u-bg--white
      // 此區塊圖取取用 Adobe XD Desktop 圖片共用於所有斷點，其他斷點圖片尺寸上有微小差別，只能針對 Desktop 斷點完全相近
      article.l-container.u-pt-sm--6.u-pt-md--10.u-pt-lg--16.u-pb-sm--6.u-pb-md--10.u-pb-lg--20
        h2.u-textAlign--center.u-text--primaryDark.u-mb-sm--4.u-mb-md--8.u-mb-lg--15.p-index-h2 經典系列鏡框
        .l-row
          ul.l-container.p-staggerList
            li.l-row.p-staggerList__item
              .l-col-md--8-5.l-col-lg--12-8.p-staggerList__item__cover
                img(src='assets/img/p-index--classSeries-1.png', alt='經典系列鏡框圖片一', srcset='assets/img/p-index--classSeries-1.png 1x, assets/img/p-index--classSeries-1@2x.png 2x')
              .l-col-md--8-3.l-col-lg--12-4.p-staggerList__item__content
                h3.font--Roboto-black-900.p-staggerList__item__content__title
                  span.p-staggerListIcon.p-staggerListIcon--diamond
                  spna optical
            li.l-row.p-staggerList__item
              .l-col-md--8-5.l-col-lg--12-8.p-staggerList__item__cover.p-pseudoHoverChangeImg
                .p-pseudoHoverChangeImg__relative
                  img(src='assets/img/p-index--classSeries-2.png', alt='經典系列鏡框圖片二', srcset='assets/img/p-index--classSeries-2.png 1x, assets/img/p-index--classSeries-2@2x.png 2x')
              .l-col-md--8-3.l-col-lg--12-4.p-staggerList__item__content
                h3.font--Roboto-black-900.p-staggerList__item__content__title
                  span.p-staggerListIcon.p-staggerListIcon--sun.u-verticalAlign--middle
                  spna.u-verticalAlign--middle sunglasses
            li.l-row.p-staggerList__item
              .l-col-md--8-5.l-col-lg--12-8.p-staggerList__item__cover
                img(src='assets/img/p-index--classSeries-3.png', alt='經典系列鏡框圖片三', srcset='assets/img/p-index--classSeries-3.png 1x, assets/img/p-index--classSeries-3@2x.png 2x')
              .l-col-md--8-3.l-col-lg--12-4.p-staggerList__item__content
                h3.font--Roboto-black-900.p-staggerList__item__content__title
                  span.p-staggerListIcon.p-staggerListIcon--lightning.u-verticalAlign--middle
                  spna.u-verticalAlign--middle functional
    // /經典系列鏡框
    
    // 聯名設計鏡框
    section.l-container--full.u-bg--black.p-jointName.p-jointName--bg
      article.l-container.u-pt--6.u-pt-md--10.u-pt-lg--16
        h2.font--pingFang-Semibold-600.u-fontSize--6.u-lineHeight--33.u-fontSize-md--8.u-lineHeight-md--45.u-fontSize-lg--12.u-lineHeight-lg--67.u-text--white.u-textAlign--center.u-mb--4.u-mb-md--10-5.u-mb-lg--15 聯名設計鏡框
        //- div
        //-   img(src='assets/img/p-index--jointName-1.png', alt='聯名設計鏡框圖片一', srcset='assets/img/p-index--jointName-1.png 1x, assets/img/p-index--jointName-1@2x.png 2x')
        //-   div
        //-     img(src='assets/img/p-index--jointName-2.png', alt='聯名設計鏡框圖片二', srcset='assets/img/p-index--jointName-2.png 1x, assets/img/p-index--jointName-2@2x.png 2x')
        //-     div
        //-       img(src='assets/img/p-index--jointName-3.png', alt='聯名設計鏡框圖片三', srcset='assets/img/p-index--jointName-3.png 1x, assets/img/p-index--jointName-3@2x.png 2x')
        //-       div
        //-         a(href='#', title='MORE')
        //-           | MORE
        //-           img(src='assets/img/icon--arrow-forward.svg', alt='往前箭頭圖示')
        ul.l-row
          li.l-col.l-col-sm--1-1.col-md-2-1.u-textAlign--center.u-textAlign-lg--left.u-mb--5.u-mb-md--0
            .c-translucentOverlay
              a.c-translucentOverlay__mask(href='#', title='Double A+') 
                span.font--Roboto-bold-700.c-translucentOverlay__mask__inner.u-fontSize--8.u-lineHeight--43.u-fontSize-lg--18.u-lineHeight-md--95
                  | Double A+
              img(src="assets/img/p-index--jointName-5.png", alt="", srcset="")
          li.l-col.l-col-sm--1-1.col-md-2-1.u-textAlign--center.u-textAlign-lg--right
            .c-translucentOverlay
              a.c-translucentOverlay__mask(href='#', title='YOUTH') 
                span.font--Roboto-bold-700.c-translucentOverlay__mask__inner.u-fontSize--8.u-lineHeight--43.u-fontSize-lg--18.u-lineHeight-md--95
                  | YOUTH
              img(src="assets/img/p-index--jointName-6.png", alt="", srcset="")
    // /聯名設計鏡框
    
    // 顧客推薦
    section.l-container--full.u-bg--white
      article.l-container.c-outdentCards
        h2.font--pingFang-Semibold-600.u-text--white.u-fontSize--6.u-lineHeight--33.u-fontSize-md--8.u-lineHeight-md--45.u-fontSize-lg--12.u-lineHeight-lg--67.u-textAlign--center.u-mb--4.u-mb-md--8.u-mb-lg--15 顧客推薦
        ul.l-row
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--12-3.c-outdentCard.c-outdentCard
            //- img(src='assets/img/p-index--customer-1.png', alt='顧客推薦使用者圖片一', srcset='assets/img/p-index--customer-1.png 1x, assets/img/p-index--customer-1@2x.png 2x')
            .c-outdentCard__cover.c-outdentCard__cover--img-1
            .c-outdentCard__body
              h3.c-outdentCard__body__title.font--Roboto-medium-500
                | Jessy
              p.c-outdentCard__body__text.font--Roboto-Regular-400
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              p.c-outdentCard__body__textEnd.font--Roboto-Regular-400 
                | Last updated 3 mins ago
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--12-3.c-outdentCard
            //- img(src='assets/img/p-index--customer-2.png', alt='顧客推薦使用者圖片二', srcset='assets/img/p-index--customer-2.png 1x, assets/img/p-index--customer-2@2x.png 2x')
            .c-outdentCard__cover.c-outdentCard__cover--img-2
            .c-outdentCard__body
              h3.c-outdentCard__body__title.font--Roboto-medium-500 
                | Karen
              p.c-outdentCard__body__text.font--Roboto-Regular-400
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              p.c-outdentCard__body__textEnd
                | Last updated 3 mins ago
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--12-3.c-outdentCard
            //- img(src='assets/img/p-index--customer-3.png', alt='顧客推薦使用者圖片三', srcset='assets/img/p-index--customer-3.png 1x, assets/img/p-index--customer-3@2x.png 2x')
            .c-outdentCard__cover.c-outdentCard__cover--img-3
            .c-outdentCard__body
              h3.c-outdentCard__body__title.font--Roboto-medium-500 
                | Chelsea
              p.c-outdentCard__body__text.font--Roboto-Regular-400
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              p.c-outdentCard__body__textEnd 
                | Last updated 3 mins ago
          li.l-col-sm--1-1.l-col-md--2-1.l-col-lg--12-3.c-outdentCard
            //- img(src='assets/img/p-index--customer-4.png', alt='顧客推薦使用者圖片四', srcset='assets/img/p-index--customer-4.png 1x, assets/img/p-index--customer-4@2x.png 2x')
            .c-outdentCard__cover.c-outdentCard__cover--img-4
            .c-outdentCard__body
              h3.c-outdentCard__body__title.font--Roboto-medium-500 
                | Jane
              p.c-outdentCard__body__text.font--Roboto-Regular-400
                | This is a wider card with supporting text below as a natural lead-in to additional content.
              p.c-outdentCard__body__textEnd 
                | Last updated 3 mins ago
    // /顧客推薦
    
    // 聯絡我們
    section.l-container--full.u-bg--primaryLight
      article.l-container.u-pt--6.u-pt-md--10.u-pt-lg--16.u-pb--12.u-pb-md--14.u-pb-lg--18
        .l-row.u-justifyContent--center
          .l-col-md--8-6.l-col-lg--12-8.u-mb-lg--5
            .u-px--3.u-px-md--0
              h2.font--pingFang-Semibold-600.u-fontSize--5.u-fontSize-sm--5.u-fontSize-md--8.u-fontSize-lg--12.u-lineHeight--28.u-lineHeight-md--45.u-lineHeight-lg--67.u-textAlign--center.u-mb--2.u-mb-md--4.u-mb-lg--6 聯絡我們
              p.u-fontSize--4.u-lineHeight--24.u-fontSize-lg--5.u-lineHeight-lg--30.u-mb--2.u-mb-md--4.u-mb-lg--5 我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
              form.c-form(action='')
                .c-form__group
                  label.c-form-label(for='indexFormUserName') 姓名
                  input.c-form-control#indexFormUserName(type='text', placeholder='陳小明')
                .c-form__group
                  label.c-form-label(for='indexFormUserPhomeNum') 聯絡電話
                  input.c-form-control#indexFormUserPhomeNum(type='tel', placeholder='0912-345-678')
                .c-form__group
                  label.c-form-label(for='indexFormUserEmail') 電子郵件
                  input.c-form-control#indexFormUserEmail(type='email', placeholder='example@email.com')
                .c-form__group
                  label.c-form-label(for='indexFormContent') 意見反應
                  textarea.c-form-textarea.c-form-textarea--resizeNone.c-form-control#indexFormContent(placeholder='請輸入您的意見')
                .c-form__group.c-form-check.c-form-check--normal.c-form-check--primary.u-mb--5.u-mb-md--6.u-mb-lg--5.u-mb-lg--10
                  input#indexFormCheck(type='checkbox')
                  label.u-fontSize--3-5.u-lineHeight--21.u-fontSize-md--4.u-lineHeight-md--24.u-lineHeight-lg--22(for='indexFormCheck') 我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。
                .u-textAlign--center
                  button.c-btn.c-btn--primary(type='submit') 確認送出
    // /聯絡我們
