extends extends/_layoutTemplate.jade

// qa.jade
block pageInner
  header.l-container--full.u-d--flex.u-alignItems--end.p-banner.p-banner--bg
    article.l-container
      h1.font--pingFang-Medium-500.u-fontSize-lg--16.u-lineHeight-lg--90
        | 常見問題
  main

// /qa.jade