<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    //- fix IOS 自動將數字轉成電話號碼的問題
    meta(name="format-detection", content="telephone=no") 
    // fb_meta
    meta(property='og:image', content='')
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    // /fb_meta
    title
      | 看得清眼鏡行 | Glasses store 
    // icons
    link(rel="shortcut icon", href="assets/img/favicon/favicon-128.png")
    link(rel="shortcut icon", href="assets/img/favicon/favicon-64.png")
    link(rel="shortcut icon", href="assets/img/favicon/favicon-32.png")
    link(rel="shortcut icon", href="assets/img/favicon/favicon-16.png")
    //- 參考資料來源：https://www.jishuwen.com/d/2XLI/zh-tw、https://realfavicongenerator.net/
    link(rel="apple-touch-icon", sizes="152x152", href="assets/img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="assets/img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/img/favicon/favicon-16x16.png")
    link(rel="manifest", href="assets/img/favicon/site.webmanifest")
    link(rel="mask-icon", href="assets/img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    //- link(rel="bookmark", href="favicon.ico?")
    // /icons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
    link(rel="stylesheet", href="assets/css/style.css")
    block localStylesheet
  body
    
    block l-nav
    // block l-nav J-template
    nav.l-container--full.l-navbar.u-bg--primary.js-navbar--topFixed
      a.l-navbar__toggler.u-link--white.js-navbar__toggler(title='收合選單按鈕', href='#')
        i.fas.fa-bars(alt='收合選單圖示')
      a.l-navbar__logo(title='回到首頁', href='index.html')
        img(src='assets/img/l-logo--white.png', alt='logo 圖片', srcset='assets/img/l-logo--white.png 1x, assets/img/l-logo--white@2x.png 2x')
      ul.l-navbar__dropdown
        li
          a.l-navbarLink.l-navbarLink--reflective(title='系列鏡框', href='products.html') 系列鏡框
        li
          a.l-navbarLink.l-navbarLink--reflective(title='門市據點', href='locations.html') 門市據點
        li
          a.l-navbarLink.l-navbarLink--reflective(title='部落格', href='blog.html') 部落格
        li
          a.l-navbarLink.l-navbarLink--reflective(title='常見問題', href='qa.html') 常見問題
    // /block l-nav J-template

    // block pageInner J-template
    block pageInner
    // block pageInner J-template    
    
    // block l-footer J-template
    block l-footer
    footer.l-container--full.u-bg--primary
      section.l-container.l-footerContainer.u-pt--3.u-pt-md--5.u-pb--5.u-pt-lg--9.u-pb-md--7
        .l-row.u-mb--5
          .l-col-sm--8-5.l-col-md--8-6
            nav.l-footerNav.u-mb-lg--2
              ul.l-footerNav__list
                li.l-footerNav__list__item
                  a.l-footerLink.l-footerLink--hover(title='首頁', href='index.html') 首頁
                li.l-footerNav__list__item
                  a.l-footerLink.l-footerLink--hover(title='系列鏡框', href='products.html') 系列鏡框
                li.l-footerNav__list__item
                  a.l-footerLink.l-footerLink--hover(title='門市據點', href='locations.html') 門市據點
                li.l-footerNav__list__item
                  a.l-footerLink.l-footerLink--hover(title='部落格', href='blog.html') 部落格
                li.l-footerNav__list__item
                  a.l-footerLink.l-footerLink--hover(title='常見問題', href='qa.html') 常見問題
            ul.font--Roboto-Regular-400.u-links--white.u-pt--2.u-pt-md--0.u-pt-lg--0
              li.u-mb-lg--1
                a.l-footerContactLink(href='tel:+886-800-000-000')
                  img.l-footerContactLink__icon(src='assets/img/icon--phone.svg', alt='電話圖示')
                  | 0800-000-000
              li
                a.l-footerContactLink(href='mailto:glasses@business.com')
                  img.l-footerContactLink__icon(src='assets/img/icon--mail-outline.svg', alt='E-mail 圖示')
                  | glasses@business.com
          .l-col.l-col-md--8-2.u-pl--0
            ul.l-footerSocialBtns
              li.l-footerSocialBtns__item
                a.l-footerSocialBtns__item__btn.l-footerLink--hover(target='_blank', title='前往 facebook', href='https://www.facebook.com')
                  img.l-footerSocialBtnsIcon(src='assets/img/icon--social-fb.svg', alt='facebook 圖示')
              li.l-footerSocialBtns__item
                a.l-footerSocialBtns__item__btn.l-footerLink--hover(target='_blank', title='前往 instagram', href='https://www.instagram.com')
                  img.l-footerSocialBtnsIcon(src='assets/img/icon--social-ig.svg', alt='instagram 圖示')
              li.l-footerSocialBtns__item
                a.l-footerSocialBtns__item__btn.l-footerLink--hover(target='_blank', title='前往 line 官方', href='https://line.me/zh-hant')
                  img.l-footerSocialBtnsIcon(src='assets/img/icon--social-line.svg', alt='line 圖示')
        // /.l-row
        // 使用 hr 的 border 高度會加 2px
        hr.u-border--white.u-mt--0.u-mb--4.u-mb-lg--6
        .l-footerStatement
          a.l-footerStatement__logo(title='回到首頁', href='index.html')
            img.l-footerLogoImg.l-footerStatement__logo__img(src='assets/img/l-logo--white.png', alt='footer logo 圖示', srcset='assets/img/l-logo--white.png 1x, assets/img/l-logo--white@2x.png 2x')
          ul.l-footerStatement__list.u-links--white
            li.font--Roboto-Regular-400.l-footerStatement__list__copyright.u-text--white
              | Copyright © 2020 Glasses.All rights reserved.
            li
              a(target='_blank', href='https://policies.google.com/privacy?hl=zh-TW') 隱私權政策
            li
              a(target='_blank', href='https://policies.google.com/terms?hl=zh-TW') 服務條款
    // /block l-footer J-template

    block globalScripts
      //- include js/_globalScripts.jade
      // block globalScripts J-template
      script(src='assets/js/vendors.js?#{new Date().getTime()}')
      script(src='assets/js/all.js?#{new Date().getTime()}')
      // /block globalScripts J-template
