/*----------  btn  ----------*/
.c-btn {
  font-size: 1rem;
  line-height: 1.375rem;
  text-align: center;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  display: inline-block;
  background-color: transparent;
  border: 0px;
  @include large-below {
    padding: .4375rem 2.25rem;
  }
  @include large {
    padding: 1rem 3.625rem;
  }
  @each $key, $value in $colors {
    // * 被賦值過，所以不會套用預設值。資料來源：https://pjchender.github.io/2017/11/01/筆記-sass-scss/
    $newValue: $value !default; 
    &--#{$key} {
      color: $white;
      background-color: $value;
    }
    &:hover, &:focus {
      // HSL函數-adjust-hue()函數：https://changtsuiling.gitbooks.io/sass/chapter9/4-8-hslhan-6578-adjust-hue-han-shu.html
      background-color: darken(adjust-hue($newValue, -20deg), 10%);
    }
  };
}
/*----------  /btn  ----------*/