.c-iconCards{
  @include medium {
    align-content: stretch;
    // min-height: 700px;
    // @include large {
    //   margin-bottom: 20px;
    // }
  }
  &__item{
    padding-top: 20px;
    padding-bottom: 8px;
    @include medium {
      min-height: 255px;
      margin-bottom: 12px;
    }
    @include large {
      min-height: 289px;
      padding-top: 16px;
      padding-bottom: 0;
      margin-bottom: 0px;
      // min-height: 500px;
    }
    &__inner {
      padding-left: 64px;
      padding-right: 64px;
      @include medium {
        padding-left: 50px;
        padding-right: 50px;
      }
      @include large {
        padding-left: 37px;
        padding-right: 37px;
      }
    }
    &__title{
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
      color: $primaryDarkColor;
      @include large {
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 4px;
      }
    }
    &__content{
      line-height: 24px;
      @include medium {
        min-height: 95px;
      }
    }
  }
  &__icon{
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    @include large {
      height: 100px;
      margin-bottom: 40px;
    }
    &__img {
      width: 80px;
      
      @include large {
        width: 100px;
        // height: auto;
        
      }
    }
  }
}