@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap');

/* fontSets
-------------------------------------------------- */


/*----------  Roboto webFont  ----------*/

/* 系統 Roboto 字體字重
  * 100 - 等同於 lighter
  * 400 - 等同於 normal
  * 500 -
  * 600 - 等同於 bold 
*/
/* Google Web Fonts 字體字重
  * https://fonts.google.com/specimen/Roboto?sidebar.open&selection.family=Roboto:ital,wght@1,500;1,700;1,900
  * Light 300
  * Regular 400
  * Medium 500
  * Bold 700
  * Black 900
*/

.font--Roboto-Regular-400{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 400;
}
.font--Roboto-medium-500{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 500;
}
.font--Roboto-bold-700{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 700;
}
.font--Roboto-black-900{
  font-family: 
    'Roboto'
    ,
    Roboto
    ,
    sans-serif
    ;
  font-weight: 900;
}
/*----------  /Roboto webFont  ----------*/


/*----------  蘋方  ----------*/
/* 
  * * MacOS 系統字使用第一筆，讓樣式戴入時先比對取用。
  * * 若系統沒辨法取用 MacOS 系統字而只取得針對中文字元的字體，英文字元需要有對應的字體補於中文字體後方，像是 sans-serif 字體。
  * * 需特別注意 font-family 的多筆屬性值，第一筆開頭前方不能有 ',' 後方每多一筆設定都需要透過 ',' 間隔開來，最後一筆後方在 ':' 前方不能帶上 ',' 會使設定不生效。
**/
/**
 * * MacOS 系統字 pingFang 字重變化 
 * 100 - 
 * 200 - Light
 * 400 - Regular
 * 500 - Medium
 * 600 - Semibold
*/
.font--pingFang-Light-200{
  font-family: 
    PingFang TC
    , 
    BlinkMacSystemFont
    ,
    "Segoe UI"
    , 
    '微軟正黑體', 'Microsoft JhengHei'
    ,
    sans-serif
    ;
  font-weight: 200;
}
.font--pingFang-Regular-400{
  font-family: 
    PingFang TC
    ,
    BlinkMacSystemFont
    , 
    "Segoe UI"
    , 
    'Microsoft JhengHei', '微軟正黑體'
    ,
    serif
    ,
    sans-serif
    ;
  font-weight: 400;  
}
.font--pingFang-Medium-500{
  font-family: 
    PingFang TC
    , 
    BlinkMacSystemFont
    ,
    "Segoe UI"
    , 
    '微軟正黑體', 'Microsoft JhengHei'
    ,
    sans-serif
    ;
  font-weight: 500;
}
.font--pingFang-Semibold-600{
  font-family: 
    PingFang TC
    , 
    BlinkMacSystemFont
    ,
    "Segoe UI"
    , 
    '微軟正黑體', 'Microsoft JhengHei'
    ,
    sans-serif
    ;
  font-weight: 600;
}
/*----------  /蘋方  ----------*/


/* End of fontSets
-------------------------------------------------- */