// COLORS
$red: rgba(170, 6, 1, 1);
$red-dark:rgba(101, 3, 0, 1);
$red-light:rgba(251, 242, 242, 1);

// 無彩色系
$black: #000000;
$gray-dimgray:#212529;
$gray:#707070;
$gray-light:#DEE2E6;
$white: #FFFFFF;
// /無彩色系

$primaryColor: $red;
$primaryDarkColor: $red-dark;
$primaryLightColor: $red-light;
// END COLORS

$colors: (
  // key, value
  'primary': $primaryColor,
  'primaryDark': $primaryDarkColor,
  'primaryLight': $primaryLightColor,

  'black': $black,
  'grayDimgray': $gray-dimgray,
  'gray': $gray,
  'grayLight': $gray-light,
  'white': $white
) !default;
// - '!default' 覆蓋掉先前宣告預設的變數值，這裡可用可不用。



$bodyBgColor: $white;
$bodyTextColor: $black;

// font-size
$font-size-base: 16px;
// /font-size



// /**
//  * * grid-system set  
//  **/
$totalWidth-medium: 672px; //總寬-中型裝置以上
$totalWidth-large: 1200px; //總寬-大型裝置以上

$grid-num-small: 8;
$gutterWidth-small: 12px; //欄間距 or 間隔寬度-行動裝置以 '下' 尺寸
$gutterOutside-small: $gutterWidth-small/2; //外部間距-行動裝置以 '下' 尺寸

$grid-num-medium: 8;
$gutterWidth-medium: 24px; //欄間距 or 間隔寬度-小裝裝置以 '上' 尺寸
$gutterOutside-medium: $gutterWidth-medium/2; //外部間距-小裝裝置以 '上' 尺寸

$grid-num-large: 12;
// /**
//  * * /grid-system set  
//  **/