// COLORS
$red: rgba(170, 6, 1, 1);
$red-dark:rgba(101, 3, 0, 1);
$red-light:rgba(251, 242, 242, 1);

// 無彩色系
$black: #000000;
$gray-dimgray:#212529;
$gray:#707070;
$gray-light:#DEE2E6;
$white: #FFFFFF;
// /無彩色系

$primaryColor: $red;
$primaryDarkColor: $red-dark;
$primaryLightColor: $red-light;
// END COLORS

$colors: (
  // key, value
  'primary': $primaryColor,
  'primaryDark': $primaryDarkColor,
  'primaryLight': $primaryLightColor,

  'black': $black,
  'grayDimgray': $gray-dimgray,
  'gray': $gray,
  'grayLight': $gray-light,
  'white': $white
) !default;
// - '!default' 覆蓋掉先前宣告預設的變數值，這裡可用可不用。

// reboot set
$bodyBgColor: $white;
$bodyTextColor: $black;
// /reboot set

// font-size
$font-size-base: 16;
// /font-size

// breakPoint set 斷點設定
$smallDeviceWidth: 375px;
$small-breakpointName: "sm";
$mediumDeviceWidth: 768px;
$medium-breakpointName: "md";
$largeDeviceWidth: 1280px;
$large-breakpointName: "lg";
// /breakPoint set 斷點設定

// grid-system set
$totalWidth-medium: 672px; //總寬-中型裝置以上
$totalWidth-large: 1200px; //總寬-大型裝置以上

$grid-num-small: 8;
$gutterWidth-small: 12px; //欄間距 or 間隔寬度-行動裝置以 '下' 尺寸
$gutterOutside-small: $gutterWidth-small/2; //外部間距-行動裝置以 '下' 尺寸

$grid-num-medium: 8;
$gutterWidth-medium: 24px; //欄間距 or 間隔寬度-小裝裝置以 '上' 尺寸
$gutterOutside-medium: $gutterWidth-medium/2; //外部間距-小裝裝置以 '上' 尺寸

$grid-num-large: 12;
// /grid-system set

// u-fontSize
// scss 數學函式：https://zoneless.blog/2016/07/23/sass-tutorial-9/
$font-stertMinNum: 1;// 起始最小級數數值
$font-endMaxNum: 80;// 結束最大級數數值
$font-tolerance: 4; // 每個字級公差數為 4。
$font-loopNum: $font-endMaxNum / $font-tolerance;
// /u-fontSize

// u-lineHeight
$line-height-gather: (
  // key, value
  '15': 15, '17': 17, '19': 19, '21': 21, '22': 22, '24': 24, '26': 26, '28': 28, '30': 30, '32': 32, '33': 33, '34': 34, '37': 37, '43': 43, '45': 45, '50': 50, '53': 53, '55': 55, '57': 57, '67': 67, '90': 90, '95': 95
) !default;
// /u-lineHeight