// COLORS
$primary: #AA0601;
$primary-dark:#650300;
$primry-light:#AA06010D;
// $seconColor:;
// 無彩色系
$black: #000000;
$gray-dimgray:#212529;
$gray:#707070;
$gray-light:#DEE2E6;
$white: #FFFFFF;
// /無彩色系
$bodyColor: $white;
// END COLORS





