.u-translucentOverlay {
  position: relative;
  display: inline-block;
  z-index: 30;
  height: 100%;
  // width: 100%;
  top: 0;

  &__mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    color: $primaryColor;
    &__inner{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
  }

  &:hover, &:active, &:focus{
    .u-translucentOverlay__mask{
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      transition: .5s ease;
      color: transparent;
      &__inner{
        // transition: .5s ease;
      }
    }
  } 
}

.u-pseudoHoverChangeImg {
  &__relative {
    position: relative;
    z-index: 10;
    &::after {
      content: '';
      display: block;
      width:100%;
      padding-top: 40.4040%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: 0.5s all;
      // background-image: url("././../img/p-index--classSeriesColor-2.png");
      // @include retina('././../img/p-index--classSeriesColor-2.png', 2, cover, no-repeat center center);
    }
    &:hover{
      cursor: help;
      &::after {
        opacity: 1;
        transition: 0.5s all;
        z-index: 1;
      }
    }
  }
}

.u-hoverZoomOutBgImg {
  transition: all .8s;
  &:hover {
    background-size: 130% auto;
    transition: all .8s;
  }
  &-position--yt10p {
    background-position-y: 10%;
  }
  &-position--yt90p {
    background-position-y: 90%;
  }
}