.u-mb--10-5 {
  /* 42px */
  margin-bottom: 2.625rem;
}
@include small {
  .u-mb-sm--10-5 {
    /* 42px */
    margin-bottom: 2.625rem;
  }
}
@include medium {
  .u-mb-md--10-5 {
    /* 42px */
    margin-bottom: 2.625rem;
  }
}
@include large {
  .u-mb-lg--10-5 {
    /* 42px */
    margin-bottom: 2.625rem;
  }
}
/* /手動加入 */