/*----------  typeseet  ----------*/
/* u-fontSize */
// fontsize scss 批次輸出執行
@include fontSizeBatch ();
/* 手動加入 */
.u-fontSize--3-5 { 
  /* 14px/4=3.5 */
  font-size: .875rem; 
}
/* /手動加入 */
@include small {
  @include fontSizeBatch (sm);
  /* 手動加入 */
  .u-fontSize-sm--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}
@include medium {
  @include fontSizeBatch (md);
  /* 手動加入 */
  .u-fontSize-md--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}
@include large {
  @include fontSizeBatch (lg);
  /* 手動加入 */
  .u-fontSize-lg--3-5 { 
    /* 14px/4=3.5 */
    font-size: .875rem; 
  }
  /* /手動加入 */
}

/* u-fontSize */

/* u-lineHeight */
// line-height scss 批次輸出執行
@include lineHeightBatch ();
@include small {
  @include lineHeightBatch (sm);
}
@include medium {
  @include lineHeightBatch (md);
}
@include large {
  @include lineHeightBatch (lg);
}
/* /u-lineHeight */

/*----------  typeseet  ----------*/
