.l-footerContainer {
  @include large {
    max-width: 1174px;
  }
}

.l-footerNav{
  @include medium-below {
    display: none;
  }
  @include medium {
    display: flex;
  }
  &__list {
    display: flex;
    @include medium {
      margin-left: -20px;
    }
    &__item a {
      font-size: 16px;
      @include large-below{
        padding: 20px;
      }
      @include large {
        padding: 16px 20px;
      }
    }
  }
}
.l-footerLink {
  display: inline-block;
  font-size: 16px;
  color: $white;
  
  &--hover {
    &:hover, &:focus {
      background-color: darken($primaryColor, 5%);
    }
  }
}

.l-footerContactList {
  margin-bottom: 24px;
}

.l-footerContactLink {
  font-family: Roboto Regular;
  color: $white;
  display: inline-block;
  @include medium-below {
    font-size: 16px;
    line-height: 21px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  @include medium {
    font-size: 20px;
    line-height: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  @include large {
    font-size: 36px;
    line-height: 48px;
  }
  &__icon {
    @include medium-below {
      vertical-align: top;
      width: 20px;
      margin-right: 4px;
    }
    @include medium {
      vertical-align: top;
      width: 24px;
      margin-right: 8px;
    }
    @include large {
      vertical-align: middle;
      width: 36px;
      margin-right: 12px;
    }
  }
}

.l-footerSocialBtns {
  display: flex;
  justify-content: end;
  @include large-below {
    margin-right: -12px;
  }
  &__item {
    @include large {
      margin-right: 32px;
      &:last-child {
        margin-right: 0;
      }
    }
    &__btn {
      display: inline-block;
      padding: 10px;
      @include medium {
        padding: 20px 12px;
      }
      @include large {
        padding: 0;
      }
    }
  }
  &Icon {
    @include large-below {
      width: 24px;
      vertical-align: middle;
    }
    @include large {
      width: 48px;
    }
  }
}

.l-footerStatement {
  display: flex;
  @include medium-below {
    flex-direction: row-reverse;
    align-items: end;
    justify-content: space-between;
  }
  &__logo {
    @include medium {
      display: none;
    }
    @include large {
      display: block;
    }
    &__img {
      @include medium-below {
        margin-bottom: -2px;
      }
      @include large {
        display: block;
        margin-right: 38px;
      }
    }
  }
  &__list {
    display: flex;
    font-size: 14px;
    @include medium-below {
      line-height: 20px;
      flex-direction: column;
    }
    @include medium {
      line-height: 21px;
      align-items: center;
      width: 100%;
    }

    & > li {      
      &:last-child {
        margin-bottom: 0;
        @include medium {
          padding-right: 0;
          margin-right: -12px;
        }
        
      }

      & > a {
        display: inline-block;
        @include medium-below {
          padding-top: 4px;
          padding-bottom: 4px;
        }
        @include medium {
          padding: 12px;
        }
        @include large {
          margin-left: 50px;
        }
      }
    }

    &__copyright {
      @include medium-below {
        line-height: 19px;
        margin-bottom: 4px;
      }
      @include medium {
        font-size: 16px;
        margin-right: auto;
      }
    }
    
  }
}
.l-footerLogoImg {
  @include medium-below {
    width: 44px;
  }
  @include large {
    min-width: 80px;
  }
}



