/*----------  l-navbar  ----------*/
.l-navbar {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  @include medium-below {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  @include medium {
    align-items: center;
    padding: 30px 48px;
  }
  @include medium {
    padding: 24px 48px;
  }
  @include large {
    padding: 24px 88px;
  }

  &__logo {
    display: inline-block;
    @include medium-below {
      max-width: 48px;
    }
    @include medium {
      max-width: 80px;
    }
  }
  &__toggler {
    @include medium-below {
      position: absolute;
      display: inline-block;
      left: 3px;
      font-size: 18px;
      padding: 13px;
    }
    @include medium {
      display: none;
    }
  }
  &__dropdown {
    @include medium-below {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0px;
      transition: all 0.8s;
      overflow: hidden;
      z-index: 120;
      &.active {
        max-height: 290px;
        overflow-y: auto;
      }
    }
    @include medium {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: -20px;
    }
    @include large {
      margin-right: -32px;
    }
  } 
}

.l-navbarLink {
  background-color: $primaryColor;
  display: block;
  font-size: 20px;
  line-height: 28px;
  padding: 16px;
  color: $white;
  @include medium {
    padding: 16px 20px;
  }
  @include medium-below {
    border-top: 1px solid;
    border-color: $white;
    &:last-child {
      border-bottom: 1px solid;
      border-color: $white;
    }
  }
  @include large {
    padding: 16px 32px;
  }
  &--reflective {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      height: 300%;
      width: 30%;
      position: absolute;
      left: -75%;
      opacity: .2;
      background: #fff;
      z-index: 1;
      transition-timing-function: ease;
      transition-duration: .6s;
      transition-property: all;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      transform: rotate(35deg);
      @include medium-below {
        top: -100%;
      }
      @include medium {
        top: -50%;
      }
    }
    &:hover:after {
      left: 125%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &--hover {
    &:hover, &:focus {
      background-color: darken($primaryColor, 5%);
    }
  }
}

.js-navbar{
  &--topFixed{
    width: 100%;
    @include medium-below {
      position: fixed;
      top: 0;
      z-index: 100;
    }
  }
  &--topFixedPush {
    @include medium-below {
      padding-top: 48px;
    }
    // @include medium {
    //   padding-top: 108px;
    // }
  }
}
/*----------  /l-navbar  ----------*/